.attribution {
       font-size: 11px; text-align: center; 
       margin-top: 50px;
       color: hsla(0, 0%, 100%, 0.75);
      }
    .attribution a { 
      color: hsl(228, 45%, 44%);
      color: beige;
     }

    body{
      background-color: hsl(233, 47%, 7%);
      height: 90vh;
    }


    .container{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 50px;
      margin-left: auto;
      margin-right: auto;
      border-top: 100px;
      margin-top: 70px;
      margin-bottom: auto;
      gap: 0px;
    }
    .text-content{
      background-color: hsl(244, 37%, 16%);
      padding: 4rem;
      width: 20rem;
      height: 20rem;
      padding-right: 8rem;
      border-radius: 5% 0% 0% 5%;
    }
    h1{
      font-family: "Inter", sans-serif;
      color: hsl(0, 0%, 100%);
      font-size: 2rem;
      font-weight: 700;
    }

    h1>span{
      color: hsl(277, 64%, 61%);
      cursor: pointer;
    }

    .text-content>p{
      line-height: 1.5rem;
    }

    p{
      color: hsla(0, 0%, 100%, 0.75);
    }

    .stats{
      display: flex;
      justify-content: space-between;
      gap:3rem;
      margin-top: 4rem;
    }
    .stats p{
      text-align: justify;
      text-decoration: none;
      font-size: 0.75rem;
      letter-spacing: 2px;
      text-transform: uppercase;
    }

    strong{
      font-family: "Lexend Deca", sans-serif;
      color: hsl(0, 0%, 100%);
      font-size: 1.2rem;
      font-weight: 400;
    }

    picture{
      background-color:  hsl(277, 64%, 61%);
      height: 28rem;
      border-radius: 0% 5% 5% 0%;
    }

    picture:hover{
      background-color: aquamarine;
      transition: 2s;
    
    }

    img{
      border-radius: 0% 5% 5% 0%;
      height: 28rem;
      width: auto;
      mix-blend-mode: multiply;
      cursor: pointer;
    }
    img:hover{
      filter: brightness(1.2);
      transition: all 0.3s ease-in-out;
    }


@media (min-width: 320px) and (max-width: 768px){
    
    .container{
        flex-direction: column-reverse;
        justify-content: center;
        flex-wrap: wrap-reverse;
        width: auto;
        height: auto;
        padding: 10px;
        gap: 0;
    }

    .text-content{
        width: auto;
        height: auto;
        padding: 3rem;
        border-radius: 0% 0% 5% 5%;
        gap: 0;
    }
    

    img{
        width: 100%;
        height: auto;
        border-radius: 5% 5% 0% 0%;   
    }

    .stats{
        flex-direction: column;
        align-items: center;
        gap: 1rem;
      
    }

    strong{
        display: block;
    }

    p,h1, strong{
        text-align: center;
    }

    picture{
        width: 100%;
        height: 100%;
        border-radius: 5% 5% 0% 0%;
        object-fit: cover;

    }
  
}